@import"../scss/variables/variables";

@import"../scss/listas";

    *{
        margin: 0%;
    }
    p{
        color: white;
    border-right: 1px solid white;

    }
    .row-quienes-somos {
        color: nth($colores, 2 );
        font-family: "Permanent Marker", cursive;
        background-color: black;
    }
    .descripcion-naggel{
        background-color: black;
    }
    .col-6 {
        padding: 0%;
    }
    .banner {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .container {
        height: 50%;
        width: 100%;
      }
      .collage-home{
          background-color: black;
      }
      .banner-home{
          background-color: black;
      }
    
    /*seccion nuestras naggel*/

    .container-principal{
        background: url(../image/imagencerveza.jpg);
        
        
    }
    
    .h1-banner{
        color:white;
        text-align: center;
        justify-content: center;
        padding-top: 200px;
    }

    .cervezas {
        display: flex;
        justify-content: space-around;
        text-align: center;
        font-size: 2em;
        text-decoration: none;
        padding-top: 30px;
        padding-bottom: 30px;  
        border: 0px;
        
        a{
            text-decoration-style: none;
            color: white;
        }
    }
    .menu-cervezas{
        background-color: black;
    
    }

    .red-honey-image{
        width: 550px;
        height: 300px;
    }
    .red-honey{
        background-color: black;
        justify-content: space-around;
        p{
            color: white;
        }
    }

    .logo-red-honey{
        background-color: black;
        text-align: center;
    }
    .logo-redipa{
        background-color: black;
        text-align: center;
    }
    .red-ipa-image{
        width: 550px;
        height: 300px;
    }
    .red-ipa{
        background-color: black;
    }
    .logo-stout{
        background-color: black;
        text-align: center;
    }
    .stout-image{
        width: 550px;
        height: 300px;
    }
    .stout{
        background-color: black;
    }
 .row{
     margin: 0px;
     padding: 0px;
 }
 .navbar{
     text-align: center;
     justify-content: center;
 }
 /*SECCION DONDE ENCONTRARNOS*/
 
 .contacto-logo{
     background-color: black;
     text-align: center;
 }
 .contacto-image{
    height: 7rem;
    width: 400px;
 }
 .maps-contacto-contenedor{
     background-color: black;
 }
 .descripcion-contacto{
     background-color: black;
     text-align: center;
 }
 .detalles-contacto{
     display: flex;
     justify-content: center;
     text-align: center;
 }