@import"../scss/variables/variables";

@import"../scss/listas";
body{
    background-color: $bg-footer;
    p{
        color: white;
    border-right: 1px solid white;

    }
    .row-quienes-somos {
        color: nth($colores, 2 );
        font-family: "Permanent Marker", cursive;
    }
    .col-6 {
        padding: 0%;
    }
    .banner {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .container {
        height: 50%;
        width: 100%;
      }
    
}